*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
}

.content{
    position: relative;
    /* top: 600px; */
}

.content h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 25vh;
}

.content h2:nth-child(1){
    -webkit-text-stroke: 2px #b5f3f9;
}

.content h2:nth-child(2){
    color: #b5f3f9;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%{
        clip-path: polygon(0 56%, 25% 61%, 39% 56%, 55% 52%, 73% 48%, 86% 52%, 100% 64%, 100% 100%, 0 100%);

    }

    50%{
        clip-path: polygon(0 39%, 20% 52%, 37% 58%, 55% 51%, 70% 36%, 86% 28%, 100% 29%, 100% 100%, 0 100%);

    }
}


